<% form_for(@member) do |f| %>
  <%= f.error_messages %>
  
  <p>姓名：<%= f.text_field :name %></p>
  <p>英文姓名：<%= f.text_field :english_name %></p>
  <p>性別：<%= select("member", "sex_id", sex_arr ) %></p>
  <p>生日：<%= f.date_select :birthday, :start_year => 1920, :end_year => Time.now.year, :use_month_numbers => true %>
                    <%= f.check_box :birthday_still_unknow %> 還不知道生日</p>
  <p>入會日：<%= f.text_field :spiritual_birthday , :size =>13 %><br/><span style="color:#a00;font-size:0.8em;margin-left:4.6em">格式：yyyy-mm-dd&nbsp;&nbsp;</span></p>                    
  <p>父母親：<%= select("member", "father_id", Member.all(:order => "name").collect {|m| [ m.name, m.id ] }, { :include_blank => true }) %></p>
  <p>靈父母：<%= select("member", "introducer_id", Member.all(:order => "name").collect {|m| [ m.name, m.id ] }, { :include_blank => true }) %></p>
  <p>分類：<%= f.select :classification, classification_arr %></p>
  <p>類別：<%= f.select :career, career_arr %></p>
  <p>地區：<%= f.select :area_id, area_arr %></p>  
  <p>郵箱：<%= f.text_field :email %></p>  
  <p>學校：<%= f.text_field :school %></p>
  <p>學歷：<%= f.text_field :educational_background %></p>
  <p>職業：<%= f.text_field :occupation %></p>
  <p>興趣：<%= f.text_field :interest %></p>
  <p>圖檔名稱：<%= select("member", "picture", Dir.new(RAILS_ROOT+"/public/images/picture").collect {|file| [ file.to_s, file.to_s ] }, { :include_blank => true }) %></p>
  <p>
      <%= f.check_box :is_teacher %> 將此人列入講師組(活動老師)<br/>
      <%= f.check_box :is_cleaner %> 將此人列入服侍組(整理場地)<br/>
      <%= f.check_box :is_core_leader %> 將此人设为<%=@local_leader_title%><br/>
      <%= f.check_box :blessedable %> 將此人设为可预备接受祝福者<br/>
      <%= f.check_box :is_core_family %> 將此人设为核心家庭代表<br/>
      <%= f.check_box :is_college %> 將此人设为大学生<br/>
      <%= f.check_box :is_2g %> 此人为二世祝福会员<br/>
      <%= f.check_box :is_on_table %> 將此人设为<%=@pray_list_title%> <%= link_to "→"+@pray_list_title+"名单列表", {:action => :pray_list}, {:style => "font-size:0.2pt", :target => "_blank"} %><br/>
  </p>
  <p>備註事項：<br/><%= f.text_area :memo, :size => "50x5" %></p>
<% end %>

