<h1>New history</h1>

<% form_for(@history) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </p>
  <p>
    <%= f.label :class_date %><br />
    <%= f.date_select :class_date %>
  </p>
  <p>
    <%= f.label :class_teacher %><br />
    <%= f.text_field :class_teacher %>
  </p>
  <p>
    <%= f.label :class_title %><br />
    <%= f.text_field :class_title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', histories_path %>