<p>
  <b>Area:</b>
  <%=h @member_report.area_id %>
</p>

<p>
  <b>Rec date:</b>
  <%=h @member_report.rec_date %>
</p>

<p>
  <b>Family count:</b>
  <%=h @member_report.family_count %>
</p>

<p>
  <b>Student member count:</b>
  <%=h @member_report.student_member_count %>
</p>

<p>
  <b>Worker member count:</b>
  <%=h @member_report.worker_member_count %>
</p>

<p>
  <b>Generation2 1 count:</b>
  <%=h @member_report.generation2_1_count %>
</p>

<p>
  <b>Generation2 2 count:</b>
  <%=h @member_report.generation2_2_count %>
</p>

<p>
  <b>Student new count:</b>
  <%=h @member_report.student_new_count %>
</p>

<p>
  <b>Worker new count:</b>
  <%=h @member_report.worker_new_count %>
</p>

<p>
  <b>Blessedable count:</b>
  <%=h @member_report.blessedable_count %>
</p>

<p>
  <b>Leader count:</b>
  <%=h @member_report.leader_count %>
</p>

<p>
  <b>Staff count:</b>
  <%=h @member_report.staff_count %>
</p>


<%= link_to 'Edit', edit_member_report_path(@member_report) %> |
<%= link_to 'Back', member_reports_path %>