<h1>修改登入密碼 <%= life_links_bar %></h1>

<% form_tag :action => 'update_password' do %>
    <br/>    
    <p>新的密碼：<%= password_field_tag 'new_password' %> (至少要四位數)</p>
    <p><%= submit_tag '更新密碼' %></p>
    <hr>
    <%= link_to "資產類別", :controller => :assets %> |
    <%= link_to "資產項目", :controller => :asset_items %>
<% end %>
