<h1>請輸入新的登入密碼</h1>
<% form_tag :action => 'renew_password' do %>
    <%= hidden_field_tag 'acc_id', @acc_id %>
    <%= hidden_field_tag 'username', @username %>
    <p>您的帳號：<%= @username %></p>
    <p>新的密碼：<%= password_field_tag 'new_password', '' %></p>
    <p>確認密碼：<%= password_field_tag 'new_password_check', '' %></p>
    <p><%= submit_tag '儲存新的密碼' %></p>
<% end %>
