<h2>收支試算參數
    <%= sub_title_base link_to( "载入预设", "/main/retire_plan_form?#{value_of('params_of_retire_default')}" )  %>
    <%= compose_small_link( '清空参数', 'main', 'retire_plan_form' ) %>
</h2>

<style>
.item {
    font-size: 1.15em;
    padding-left:  1.5em;
    line-height:  150%;
}
.submit {
    font-size: 1.2em;
    margin-top:-5px;
    margin-bottom:10px;
}
.green_title {
    color: #349d34;
    font-weight: bold;
}
.red_title {
    color: #d34858;
    font-weight: bold;
}
#main_table .txt {
    width: 50px;
    text-align: right;
    padding-right: 3px;
    margin-left: 0.1em;
}
#main_table .short {
    width: 35px;
    text-align: right;
    padding-right: 2px;
    margin-left: 0em;
}
</style>
<%
# 快速組成HTML標籤
def cbt_h( title, name = 'unset', class_name = '', check_flag = 'checked'  )
    checked = 'checked' if check_flag == 'checked' or check_flag == '1'
    class_name = class_name == 'r' ? 'red_title' : 'green_title'
    "<td align='left' valign='top' class='item' width='300'><span class='#{class_name}'>#{check_box_tag(name,1,checked)} #{title}</span> → </td>"
end
# 顯示年月日
def date_input( name = 'unset', t = Date.today )
    if t != Date.today and t != nil
        begin
            t = t.to_date
            show_date_input_text_field_tag name, t.year, t.month, t.day 
        rescue
            show_date_input_text_field_tag name, '', '', ''
        end        
    end
end

def show_date_input_text_field_tag( name, year, month, day )
    "#{text_field_tag name+"_y", year, :class=>:short} 年 #{text_field_tag name+"_m", month, :class=>:short} 月 #{text_field_tag name+"_d", day, :class=>:short} 日"
end

# 取出資料庫的數據
icbc_deposit_1 = AssetItem.find(7).amount.to_i + AssetItem.find(6).amount.to_i + AssetItem.find(1).amount.to_i # 仕傑的工商銀行存款 + 定存 + 现金
icbc_deposit_2 = AssetItem.find(98).amount.to_i # 孟麗的工商銀行存款
# 制作步骤
# 1. 完成表单显示界面及加上预设值             OK!
# 2. 为表单的每个输入项赋予适当的名称
# 3. 编写表单送出后的处理代码

%>
<% form_tag '/main/cal_retire_plan', :method => :get do -%>
    <table width="1040" align="center" style="background-color:#d8e5f8;border:1px solid;margin-top:-7px" id="main_table">
         <!--tr><%= cbt_h( '【既有存款】仕傑的工商銀行存款','o1','',params[:o1] ) %><td><%= text_field_tag 't1', icbc_deposit_1, :class=>:txt, :disabled => true %> RMB 超過 <%= text_field_tag 't45', params[:t45], :class=>:short %> RMB 則執行還貸</td></tr>
         <tr><%= cbt_h( '【既有存款】孟麗的工商銀行存款 ','o2','',params[:o2] ) %><td><%= text_field_tag 't2', icbc_deposit_2, :class=>:txt, :disabled => true %> RMB</td></tr-->
         <tr><%= cbt_h( '【預期收入】金如意每三年還利息 ','o3','',params[:o3] ) %><td><%= text_field_tag 't3', params[:t3], :class=>:txt %> NTD，直到 <%= text_field_tag 't4', params[:t4], :class=>:short %> 年，修正的數值 <%= text_field_tag 't38', params[:t38], :class=>:txt %> RMB，於 <%= date_input('t48',"#{params[:t48_y]}-#{params[:t48_m]}-#{params[:t48_d]}") %> 列入計算</td></tr>
         <tr><%= cbt_h( '【預期收入】红树湾每年房租收入 ','o4','',params[:o4] ) %><td><%= text_field_tag 't5', params[:t5], :class=>:txt %> RMB，开始 <%= date_input('t36',"#{params[:t36_y]}-#{params[:t36_m]}-#{params[:t36_d]}") %> ~ 结束 <%= date_input('t6',"#{params[:t6_y]}-#{params[:t6_m]}-#{params[:t6_d]}") %>，年增 <%= text_field_tag 't47', params[:t47], :class=>:short %>%</td></tr>
         <tr><%= cbt_h( '【預期收入】工資收入的每月剩餘 ','o5','',params[:o5] ) %><td><%= text_field_tag 't7', params[:t7], :class=>:txt %> RMB，每月 <%= text_field_tag 't37', params[:t37], :class=>:short %> 號入帳，直到 <%= date_input('t8',"#{params[:t8_y]}-#{params[:t8_m]}-#{params[:t8_d]}") %> 最後一天擔任公職</td></tr>
         <tr><%= cbt_h( '【系統選項】顯示每天的計算結果 ','o8','',params[:o8] ) %><td>自 今日 <%#= date_input('t15',"#{params[:t15_y]}-#{params[:t15_m]}-#{params[:t15_d]}") %> 開始試算，直到 <%= date_input('t16',"#{params[:t16_y]}-#{params[:t16_m]}-#{params[:t16_d]}") %> <%=check_box_tag('o20',1,params[:o20])%>遇負數則停止 <%=check_box_tag('o21',1,params[:o21])%>自動更新每月流动资产的目标值</td></tr>
         <tr><%= cbt_h( '【預期收入】接案工作的每月收入 ','o6','',params[:o6] ) %><td>自 <%= date_input('t9',"#{params[:t9_y]}-#{params[:t9_m]}-#{params[:t9_d]}") %>&nbsp;每月<%= text_field_tag 't10', params[:t10], :class=>:txt %> RMB 起，預期月增幅 <%= text_field_tag 't11', params[:t11], :class=>:short %> %</td></tr>
         <tr><td></td><td>到 <%= date_input('t12',"#{params[:t12_y]}-#{params[:t12_m]}-#{params[:t12_d]}") %> 後停止接案工作，期間若已達到 <%= text_field_tag 't13', params[:t13], :class=>:short %> RMB 則不需增長</td></tr>
         <tr><%= cbt_h( '【預期收入】解約所有太平的保險 ','o7','',params[:o7] ) %><td>自 <%= date_input('t14',"#{params[:t14_y]}-#{params[:t14_m]}-#{params[:t14_d]}") %>解約(不能超过2023年)，解約金會先用來償還太平的貸款，剩餘存入工行</td></tr>
         <tr><%= cbt_h( '【既有負債】新光金如意保單貸款 ','o9','r',params[:o9] ) %><td>償還貸款直到本金為 <%= text_field_tag 't17', params[:t17], :class=>:short %> NTD (低於此值則只還利息) <%=check_box_tag('o18',1,params[:o18])%>計算匯差和手續費 <%= text_field_tag 't43', params[:t43], :class=>:short %> RMB <%=check_box_tag('o19',1,params[:o19])%>保留在台保險</td></tr>
         <tr><%= cbt_h( '【既有負債】太平人壽的保單貸款 ','o10','r',params[:o10] ) %><td>償還貸款直到本金為 <%= text_field_tag 't18', params[:t18], :class=>:short %> RMB (低於此值則只還利息)，還清新光貸款以前，每半年償還 <%= text_field_tag 't46', params[:t46], :class=>:short %> RMB</td></tr>
         <tr><%= cbt_h( '【預期支出】離職後家庭的生活費 ','o11','r',params[:o11] ) %><td>住北京每月 <%= text_field_tag 't19', params[:t19], :class=>:short %> RMB，直到 <%= date_input('t20',"#{params[:t20_y]}-#{params[:t20_m]}-#{params[:t20_d]}") %> 住紅樹灣後調為 <%= text_field_tag 't21', params[:t21], :class=>:short %> RMB</td></tr>
         <tr><td></td><td>若我離職後孟麗繼續擔任公職，則她每月能補貼生活費 <%= text_field_tag 't22', params[:t22], :class=>:short %> RMB，直到 <%= date_input('t23',"#{params[:t23_y]}-#{params[:t23_m]}-#{params[:t23_d]}") %></td></tr>
         <tr><%= cbt_h( '【預期支出】红树湾每年的管理費 ','o12','r',params[:o12] ) %><td>物業費 <%= text_field_tag 't24', params[:t24], :class=>:short %> RMB (每年 <%= text_field_tag 't41', params[:t41], :class=>:short %> 交費)，供暖費 <%= text_field_tag 't25', params[:t25], :class=>:short %> RMB (每年 <%= text_field_tag 't42', params[:t42], :class=>:short %> 交費)，直到 <%= text_field_tag 't26', params[:t26], :class=>:short %> 年</td></tr>
         <tr><%= cbt_h( '【預期支出】繳太平一諾千金保險 ','o13','r',params[:o13] ) %><td>自 <%= text_field_tag 't44', params[:t44], :size=>6 %> 起，月領年金 <%= text_field_tag 't27', params[:t27], :class=>:short %> RMB (含社保)，並選擇<%=check_box_tag('o14',1,params[:o14])%>保留孟麗的大病險 及 <%=check_box_tag('o15',1,params[:o15])%>保留文心的教育險</td></tr>
         <tr><%= cbt_h( '【預期支出】回台灣探親的機票費 ','o16','r',params[:o16] ) %><td>自 <%= text_field_tag 't28', params[:t28], :class=>:short %> 年的 <%= text_field_tag 't29', params[:t29], :class=>:txt %> 月 <%= text_field_tag 't39', params[:t39], :class=>:short %> 日回台，每次機票費 <%= text_field_tag 't30', params[:t30], :class=>:short %> RMB，直到 <%= text_field_tag 't31', params[:t31], :class=>:short %> 年，當作還父母的債務</td></tr>
         <tr><%= cbt_h( '【預期支出】每年特別節日奉獻金 ','o17','r',params[:o17] ) %><td>自 <%= text_field_tag 't32', params[:t32], :class=>:short %> 年的 <%= text_field_tag 't33', params[:t33], :class=>:txt %> 月 <%= text_field_tag 't40', params[:t40], :class=>:short %> 日奉獻，每次奉獻金 <%= text_field_tag 't34', params[:t34], :class=>:short %> USD，直到 <%= text_field_tag 't35', params[:t35], :class=>:short %> 年 </td></tr>
         <tr>
            <td colspan="2" align="center"><br/><%= hidden_field_tag 'show_retire_table_title', true %><%= submit_tag "顯示收支試算表", :class => :submit %></td>
        </tr>
   </table>   
<% end -%>