<% form_for(@step) do |f| %>
  <%= f.error_messages %>
  <p>階段：<%= f.select :status_id, status_arr %></p>
  <p>名稱：<%= f.text_field :name, :size => 50 %></p>  
  <p>排序：<%= f.text_field :order_num, :size => 4 %></p>
  <p>說明：<br/><%= f.text_area :memo, :size => "70x15" %></p>
  <p><%= f.submit submit_title %>&nbsp;&nbsp;<%= button_to_function '返回前頁', "history.back();" %></p>
<% end %>
