<h2>資產明細類別總表</h2>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse"  align="center" width="500">
  <tr class="th_row">
    <td></td>
    <td>類別名稱</td>
    <td>累計金額</td>
    <td>排序</td>
    <td></td>
  </tr>

<% @asset_item_detail_catalogs.each do |asset_item_detail_catalog| %>
  <tr>
    <td><%= asset_item_detail_catalog.order_num %></td>
    <td align="center"><%=link_to asset_item_detail_catalog.name, edit_asset_item_detail_catalog_path(asset_item_detail_catalog) %></td>
    <td align="right"><%=link_to asset_item_detail_catalog.total_amount, :controller => :asset_item_details, :catalog_id => asset_item_detail_catalog.id %></td>
    <td align="center" width="40"><%= link_to '↑', {:action => 'order_up', :id => asset_item_detail_catalog} %> <%= link_to '↓', {:action => 'order_down', :id => asset_item_detail_catalog} %></td>
    <td align="center"><%= link_to image_tag('icon/trash.png', :width => 24, :border => 0 ), asset_item_detail_catalog, :confirm => "您確定要删除此類別吗?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<p align="center"><%= link_to '新增資產明細類別', new_asset_item_detail_catalog_path %></p>